h1{
    color: brown;
    font-size: 120%;
    text-align: center;
    background-color: antiquewhite;
}
hr{
    border-top: 1px rebeccapurple;
}
body{
    background-color: rgb(232, 255, 196);
}
p{
    
    text-indent: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 80%;
    color: lightslategray;
}
#heading{
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
}
ul{
    align-items: center;
}
table{
    align-items: center;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    text-align: center;
}
a{
    text-align: center;
    color: darkmagenta;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
@keyframes example {
    0%   {transform: translate(0px, 0px);}
  25%  {transform: translate(-100px, 0px);}
  35%{transform: translate(-200px, 0px);}
  50%  {transform: translate(-550px, 0px);}
  100% {transform: translate(-1050px, 0px);}
  }
  #movingtext{
    background-color: rgb(139, 243, 136);
  animation-name: example;
  animation-duration: 15s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  width: 800%;
  }
#nmms{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
  }
  h5{
    color: crimson;
  }